body{
    width: 99%;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#pgcontent{
    width: 80%;
    margin: auto;
    background-color: white;
    padding-top: 75px;
}
section{
    padding: 10px;
}

/*ABOUT*/
.a{
    margin:0 auto;
    width: 80%;
    background:#fff;
    font-family:helvetica,arial,sans-serif;
    line-height:180%;
    text-align:justify;
    color:#333;
    font-size:13px;
    padding:40px;
    border:10px solid #eee;
}
.self-info{
    display:inline-block;
    vertical-align:top;
    width: 25%;
    line-height:150%;
    margin-right:30px;
    font-size:12px;
}
#abtimg{
    background:url(self.jpg)center no-repeat;
    background-size: 60%;
    margin-bottom:10px;
}
.abtheader{
    color:#000;
    text-transform:uppercase;
    letter-spacing:3px;
}
hr{
    width:50%;margin:30px auto;border:none;padding:0;height:1px;background:#bbb;
}
.statinfo{
    letter-spacing:3px;
    font-size:8px;
}
.info{
    display:inline-block;
    vertical-align:top;
    width: 70%;
}

/*PROJECTS*/
.carousel{
    width:80%;
    margin: auto;
}

#projlinks{
    margin: auto;
    width: 80%;
}
.projs{
    display: none;
    color: white;
    margin:auto;
}

/*CONTACT*/
#contact{
    margin: auto;
    width: 80%;
}


/*social*/
.social{
    width:2em;
    position: absolute;
    top: 15%;
    display: none;
}
#discord{
    left: 3.5em;
}
#insta{
    left: 6em;
}
#twitter{
    left: 8.7em;
}
#disclaimer{
    text-align: right;
    margin: auto;
}
h3{
    padding-left: 2%;
    color: white;
}

/*DISCLAIMER*/
.popup-overlay {
    visibility: hidden;
    position: fixed;
    left: 20%;
    top: 25%;
}
    
.popup-content {
    visibility: hidden;
    position: fixed;
    width: 50%;
    background-color: darkgray;
    border-style: solid;
}

.popup-overlay.active{
    visibility: visible;  
}
        
.popup-content.active {
    visibility: visible;
    
}


a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
    color: white;
  }
  
  a:active {
    text-decoration: underline;
    color: white;
  }